{% extends 'base.html' %}
{% block title %}
Services
{% endblock title %}
{% block head %}

<div class="container mt-2">
<center><h1>Our Services</h1></center>
<br>
<div class="row">

 
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

      

      <div class="row">
       
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Personal Training</a></h4>
            <p>Personal Training involves hiring a Personal Trainer to help a client meet their fitness goals, through the knowledge, skills, and abilities personal trainers possess.</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Massage Therapy</a></h4>
            <p>Massage is a manual technique used to promote healing and reduce muscle tension. It is often used in conjunction with trigger point therapy. There are many different forms of massage but the common type of massage used in physiotherapy is deep friction massage.</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Body Building Preparation</a></h4>
            <p>Bodybuilders prepare for competitions by exercising and eliminating non-essential body fat. This is enhanced at the final stage by a combination of carbohydrate loading and dehydration to achieve maximum muscle definition and vascularity. Most bodybuilders also tan and shave their bodies prior to competition.</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Diet Plans</a></h4>
            <p>Planning diets refers to determining what usual nutrient intake should be. Regardless of whether one is planning diets for individuals or groups, the goal is to have diets that are nutritionally adequate, or conversely, to ensure that the probability of nutrient inadequacy or excess is acceptably low.</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Cross Workout Training</a></h4>
            <p>Cross training is essentially adding different types of training into your routine to achieve a more rounded set of skills that your body can call on when needed. If your main method of training is cycling then your body is adapted to that same repetitive movement and exercise of cycling</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">12 Week Body transformation Program</a></h4>
            <p>The 12-week body transformation program is a superb program if you're looking to make a true commitment to your health. This short 12-week program is designed to get you in the best shape of your life through expert training, a personalised diet program, and rock-solid accountability.</p>
          </div>
        </div>
      
      </div>

    </div>
  </section>

        
<br>
<br>

</div>
</div>

{% endblock head %}